
.image-gallery{
    min-width: 500px;
    background-color: black;
}
.img-slider{
    display: flex;
    align-items: center;
    max-width: 50vw;
    max-height: 100vh;
    img{
        max-width: 100%;
    }
 
    overflow: hidden;
    border-radius: 0.2rem;
    position: relative;
}
.slider-track img {
    min-width: 100%;
    border-radius: .5rem;
}
.slider-track{
    display: flex;
    transition: transform 0.5s ease-in-out
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 999px;
    cursor: pointer;
    font-size: 1.5rem;
    opacity: .75;
}
.arrow.left{
    left: 10px;
}
.arrow.right{
    right: 10px;
}


/* Dots */
.dots {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 0.75rem;
  position: absolute;
  bottom: 10px;
  left: 45%;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 999px;
  border: none;
  background: #94a3b8;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none
}

.dot.active {
  background: #0f172a;
}